<div class="row">
    <div class="col">Zainwestowane pieniądze per giełda</div>
</div>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ilość</th>
                    <th scope="col">Fiat</th>
                    <th scope="col">Giełda</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of wallet.invested; index as i">
                    <td>{{i}}</td>
                    <td>{{item['value']}}</td>
                    <td>{{item['fiat']}}</td>
                    <td>{{item['source']}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">Inwestycja per coin</div>
</div>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ilość</th>
                    <th scope="col">Średnia cena USD</th>
                    <th scope="col">Zainwestowano w USD</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Giełda</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of wallet.coins; index as i">
                    <td>{{i}}</td>
                    <td>{{item['amount']}}</td>
                    <td>{{item['averagePrice']}}</td>
                    <td>{{item['totalInvested']}}</td>
                    <td>{{item['symbol']}}</td>
                    <td>{{item['source']}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">Waga coinów w portfelu (wartość / wartość wszystkich coinów) * 100%</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <canvas baseChart [data]="pieChartData" [type]="pieChartType" [options]="pieChartOptions"
                    [plugins]="pieChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">Tytul</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <canvas baseChart width="100" height="50"
                [data]="lineChartData"
                [options]="lineChartOptions"
                [type]="lineChartType"></canvas>
            </div>
        </div>
    </div>
</div>